body{
	background: #ccc;
}

textarea {
	resize: none;
}

.hidden{
	display:none;
}

.nav_tree{
	float:left;
	background:white; 
	padding:15px; 
	margin:10px; 
	color:#3e3e3e; 
	width:25%;
	border-radius: 5px;
}

.content{
	float:left;
	background:white; 
	padding: 0px 10px 10px 10px; 
	margin:10px; 
	color:#3e3e3e; 
	width:60%;
	border-radius: 5px;
}

.assetsFilesContainer{
	width:100%; 
	display:flex;  
	flex-wrap:wrap
}

.asset-icon{
	width:150px;
	height:150px;
	margin:10px;
	padding:10px;
	background: white;
	color:black;
	border-radius:1px;
	text-align: left;
	z-index:100; 
	box-shadow: 2px 2px 5px gray;
	border:.5px solid #ccc;
}
.asset-icon:hover, .folder-icon:hover{
	background: #ddd;
	cursor: pointer;
}

.folder-icon{
	
	width:150px;
	height:50px;
	margin:10px;
	padding:10px;
	background: white;
	color:black;
	border-radius:1px;
	text-align: left;
	z-index:100; 
	box-shadow: 2px 2px 5px gray;
	border:.5px solid #ccc;
}

.asset-list{
	background: #eee;
	color: #3e3e3e;
	border:1px solid white;
	width:95%;
	margin:5px;
	padding:5px 0px 5px 0px;
}

.asset-list:hover{
	background: #ddd;
	cursor: pointer;
}

.is-selected{
	box-shadow: 0 0 0px 3px #337ab7;
}

.options{
	position:fixed;
	top:10px;
	right:10px;
}

.selection-info{
	position:absolute; 
	bottom:10px; 
	left:15px
}

.views{
	position:relative;
	float:right;
}

.activeNode{
	background: #337ab7;
	border-radius: 5px;
	border: 2px solid #2e6da4;
	color:white;
	padding:2px 2px 2px 5px;
}



