.content{
float:left; 
background:#3e3e3e; 
padding:15px; 
margin:10px; 
color:white; 
width:20%;
}

/*.nav_tree{
float:left; 
background:red; 
padding:15px; 
margin:10px; 
color:white; 
width:20%;
}*/
